body
{
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(138,77,2,1) 12.5%, rgba(188,173,1,1) 25%, rgba(65,255,0,1) 37.5%, rgba(2,122,123,1) 50%, rgba(2,22,147,1) 62.5%, rgba(83,2,84,0.9862385321100917) 75%, rgba(164,2,109,1) 87.5%, rgba(179,236,223,1) 100%);
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#answer
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}